*{
    box-sizing: border-box;

}

body{
    font-family: Arial, Arial, Helvetica, sans-serif;

}

h1{
    font-size: 4em;
    text-align: center;

}
/* Classes */

.box{
    border: 1px dashed red;
    padding: 20px;
    margin: 20px;
    text-align: center;
  
}

#MainMenu ul{
    padding: 20px;
    margin: 20px;
    background-color: #333;
}

#MainMenu li{
    display:inline;
    list-style-type: none;
}

#MainMenu li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 5px;
    background-color: #ccc;
}

.gray{
    background-color:#ccc;
}

.left-space{
    padding-left: 20px;
}

.clearfix{
    overflow:hidden;
}

.column{
    float:left;
    position:relative;
    width: 33.333%;
    padding : 10px;
}

.flex-container{
    display : flex;
}
.felx-column{
    flex:1;
}